data/world
data/world_nether
data/world_the_end
data/logs
data/cache
data/libraries
data/usercache.json
data/.rcon-cli.env
data/.rcon-cli.yaml
data/plugins/spark/tmp-client
data/plugins/LibreLogin/lib
data/limbo/region
data/limbo/data
data/limbo/level.dat_old
data/limbo/level.dat
data/plugins/LibreLogin/user-data.db
data/plugins/SkinsRestorer/skins
data/plugins/SkinsRestorer/cache
playit
data/plugins/NoCheatPlus/nocheatplus.log
data/.papermc-manifest.json
data/.rcon-cli.env
data/.rcon-cli.yaml
